.header {
  width: 100%;
}

.header a {
  text-decoration: none;
  color: var(--headline-color);
}

.dev-block {
  font-size: smaller;
  padding: 5px;
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(206, 22, 22);
  color: #fff;
}

.header__body {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-size: 30px;
  font-weight: bold;
}

.link {
  margin: 0 10px;
  color: var(--headline-color);
  font-size: 24px;
  font-weight: bold;
}

.header__right-pane {
  display: flex;
  align-items: center;
}
