.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container.fixed {
  padding-top: 111px;
}

main {
  padding: 10px;
  padding-top: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
