* {
  box-sizing: border-box;

  --bg-color: #fffffe;
  --headline-color: #33272a;
  --paragraph-color: #594a4e;
  --btn-bg-color: #ff8ba7;
  --btn-text-color: #33272a;
  --card-bg-color: #faeee7;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: none;
}
